.verificationCodeBox {
  overflow: hidden;
  position: relative;
}

.verificationCodeContainer {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
}

.field-wrap {
  list-style: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  background-color: #fff;
  margin: 0 3px;
  color: #08090B;
  border: 1px solid;
  border-color: #BDC3CE;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.char-field {
  font-style: normal;
  width: 100%;
}

.input-active .after {
  content: '';
  display: block;
  width: 2px;
  height: 24px;
  margin-left: 18px;
  margin-top: 7px;
  animation: blink 1s infinite steps(1, start);
  -o-animation: blink 1s infinite steps(1, start);
  -moz-animation: blink 1s infinite steps(1, start);
  -webkit-animation: blink 1s infinite steps(1, start);
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.input-code {
  position: absolute;
  left: -99999px;
  top: -99999px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  outline: none;
  color: transparent;
  /* caret-color: transparent; */
  border: none;
}
.yr_confirmSignBtn {
  width: 40%;
  position: fixed;
  right: 30%;
  top: 30%;
  font-size: 15px;
  color: #FFFFFF;
  /* background: #4169E1; */
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.10);
  border: none;
  height: 50px;
  border-radius: 0;
}
.sendCodeDialog {
  position: absolute;
  height: 200px;
  padding: 20px;
  top: 25%;
  width: 315px;
  border-radius: 0;
  left: 30px;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 10;
}

.sendCodeDialog .title {
  font-size: 16px;
  color: #232C37;
  text-align: center;
  height: 22px;
  line-height: 22px;
}

.sendCodeDialog .titlesub {
  font-size: 14px;
  color: #6F7884;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.waitTimertitle {
  font-size: 12px;
  color: #BDC3CE;
  text-align: center;
  margin-top: 20px;
  height: 17px;
  line-height: 17px;
}

.yr_renewCodeBtn {
  height: 30px;
  line-height: 30px;
  margin: auto;
  background: rgba(255, 90, 90, 0.10);
  font-size: 12px;
  /* color: #4169E1; */
  margin-top: 14px;
}

.yr_errorCodeBtn {
  height: 30px;
  line-height: 30px;
  margin: auto;
  background: rgba(255, 90, 90, 0.10);
  font-size: 12px;
  color: #FF5A5A;
  margin-top: 14px;
}

.signSuccessBox {
  margin-top: 86px;
}

