a,
input {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


/*placeholder字体颜色*/

::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 14px;
    color: #232C37;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color: #232C37;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    color: #232C37;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 14px;
    color: #232C37;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: 0;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
    display: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    touch-action: pan-y;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
    color: #232C37;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "Tahoma", "Arial", "STHeiti", "sans-serif";
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4,
h5,
h6 {
    font-size: 14px;
}

a {
    background-color: transparent;
    text-decoration: none;
    outline: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select {
    outline: 0;
}

textarea {
    resize: none;
}

ul,
ol {
    list-style: none;
}

#app {
    width: 100%;
    height: 100%;
}
